<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">


                <title>{% block title %}Articles Website{% endblock %}</title>
    <style>
        



    </style>

    <body>

    <header>
        <div style="background-color:red;width:50%;">
        <h1 style="color:white;margin-left:40px;"> Latest Updates in Tech </h1><hr>
        </div>
        <nav>
            <h2>
                <div style="background-color:red; width:100%; height:35px;justify-content: center;">

                {% for i in category %}
                <a  href="{% url 'category_detail' i.id %}"> <button type="button" class="btn btn-secondary" role="button">{{i.name}}</button></a>
                {% endfor %}

                </div>


            </h2>



            </div>

                <!-- Add more navigation links as needed -->

        </nav>
    </header>
    <main>

        <div>
        {% block content %}
        <!-- Content from child templates will be inserted here -->
        {% endblock %}
        </div>
    </main>

</body>
</html>